.topbar {
  width: 86%;
  margin-left: 14%;
  height: 75px;
  background-color: #30412f;
  position: sticky;
  top: 0;
  z-index: 999;
  border-radius: 16px;
}

.topbarWrapper {
  height: 110%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  color: rgb(214, 230, 216);
  cursor: pointer;
}

.topRight {
  display: flex;
  align-items: center;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.topIconBadge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

/* .topAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
} */

.MuiIcon {
  color: aliceblue;
  margin-left: -60%;
}

/* .Logo {
  width: 50px;
} */
