.sidebar {
  background-color: #30412f;
  flex: 1;
  height: calc(100vh - 0px);
  top: 60px;
  display: inline-flex;
  border-radius: 16px;
  margin-top: 10%;
  position: fixed;
  width: 173px;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 15px;
}

.sidebarTitle {
  font-size: 19px;
  color: #dacbae;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  margin-bottom: 10px;
}

.sidebarListItem.activeItem,
.sidebarListItem:hover {
  background-color: #dacbae;
  border-radius: 60px 5px 5px 70px;
  width: 150px;
  height: 30px;
  margin-left: -7%;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}

.Logo {
  width: 170px;
  height: 155px;
  border-radius: 16px;
  display: flex;
  position: fixed;
  border: 5px solid #30412f;
  margin-top: 1%;
}

.link {
  text-decoration: none;
}
